:root {
  --container-width: 68rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 900;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #ffffff;
}

.header {
  background: rgb(51,51,51);
  background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(55,54,52,1) 15%, rgba(61,57,54,1) 30%, rgba(62,58,55,1) 50%, rgba(65,60,56,1) 70%, rgba(73,64,59,1) 100%);
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header nav .brand .name {
  font-size: large;
  font-weight: 900;
}

.header nav .links {
  display: flex;
  align-items: center;
  justify-items: center;
  list-style-type: none;
}

.header nav .links li {
  margin: 0 1rem;
}

.header nav .links li a {
  color: #ffffff;
  text-decoration: none;
}

.hero {
  position: relative;
  padding: 4rem;
  max-width: calc(var(--container-width) + 16rem);
  margin: 0 auto;
}

.hero .contents {
  text-align: center;
  max-width: calc(var(--container-width) / 2);
  margin: 0 auto;
}

.hero .contents h1 {
  font-size: xx-large;
  font-weight: 900;
}

.hero .contents p {
  margin-top: 2rem;
  color: #8e7b71;
}

.hero .contents button {
  background-color: #B7A587;
  color: #ffffff;
  margin-top: 3rem;
  padding: 0.8rem 3rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.hero .grinder {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 26rem;
  transform: scaleX(-1);
}

.hero .cup {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 26rem;
}

.products {
  background-color: #3d3936;
  padding: 5rem 1rem;
}

.products .container .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

.products .container .items .item {
  display: flex;
  background-color: #755F4F;
  border-radius: 12px;
  padding: 1rem;
  gap: 2rem;
}

.products .container .items .item .pic {
  display: grid;
  align-items: center;
}

.products .container .items .item .info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.products .container .items .item .info button {
  border: none;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  background-color: #B7A587;
  color: #ffffff;
  margin-top: 1rem;
  cursor: pointer;
}

.pagination-btn {
  background-color: #B7A587;
  padding: 0.4rem 0.8rem;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.pagination-btn:disabled {
  background-color: gray;
  color: darkgray;
}

.footer {
  background-color: rgb(51,51,51);
  padding: 8rem 4rem;
}

.footer .container {
  max-width: calc(var(--container-width + 8rem));
  display: flex;
  justify-content: space-between;
}
